<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="css/style.css" rel="stylesheet">-->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <script type="text/javascript" src="jquery/jquery.js"></script>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
</head>

<body>
   <h1>Using $http Service</h1>

    <div ng-controller='ApppController as menu'>
      <h3>List of Menu Categories</h3>
      <ul>
        <li ng-repeat="category in menu.categories">
          (<a ng-click="menu.logMenuItems(category.id);" href="" >{{ category.nom }}</a>)
          {{ category.email }}
        </li>
      </ul>
    </div>


</body>

</html>